{% extends "components/base.html" %} {% block header %}
<h1>Omnidirectional Robot - Pico Adapter Board</h1>
{% endblock header %} {% block content %}
<a href="">Github</a>

<p>
    The first PCB I ever designed and had manufactured. I originally attempted
    to make it with perfboard but quickly got tired of soldering (it was because
    I had a cheap $20 soldering iron that wouldn't get hot enough). I had been a
    long time goal of mine to learn PCB design, so I figured why not start now?
</p>

<img src="/assets/pico-board-bare.jpg" alt="Picture of the PCB" />
<img
    src="/assets/pico-board-assembled.jpg"
    alt="Picture of the assembled PCB"
/>
{% endblock content %}
