body {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

footer {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

.list {
    margin: auto;
    width: 25%;
    padding: 10px;
    text-align: left;
}

