body {
    font-family: "Courier New", "Courier", monospace;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header, footer {
    text-align: center;
    flex-basis: 100%;
}

h1 {
    font-family: "Consolas", monospace;
    margin: 10px;
}

h2 {
    font-family: "Consolas", monospace;
}

.border {
    border: 1px solid black
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
    margin-bottom: 50px;
    padding: 5px;
    width: 80%;
    min-width: 600px;
    max-width: 800px;
    align-self: center;
    gap: 20px 2%;
}

.content p {
    flex-basis: 90%;
    margin: 0px;
}

.content h2 {
    flex-basis: 90%;
    margin: 0px;
}