/* 
nav.css - Navigation Bar
*/

nav a {
    display: inline-block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: black;
    color: white;
}