table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr {
    border: 1px solid black;
}

thead tr {
    height: 30px;
}

table.table-half {
    flex-basis: 47%;
}

table.table-full {
    flex-basis: 96%;
}


.table-half td {
    border: 1px solid black;
}

.table-half .table-left {
    width: 33%;
}

.table-half .table-right {
    width: 67%;
}

.table-full .table-left {
    width: 18%;
}

.table-full .table-right {
    width: 8%;
}


