{#
Shortcode to insert multiple images in a flex container using Zola's built in
resize_image function.

Parameters:
  images: Array of image paths and titles
  width: Width to set each image
  height: Array of paths to each image
  scale: Factor to scale each image, only used if op = "scale"
  op: Resize operations. Can be one of "scale", "fit_width", "fit_height", "fit", or "fill"
#}

<div class="image-container">
  {% for array in images -%}
    {% set path = array[0] -%}
    {% set title = array[1] -%}

    {% if not op -%}
      {% set op = "scale" -%}
    {% endif -%}

    {% if not scale -%}
      {% set scale = 1.0 -%}
    {% endif -%}

    {% if op == "scale" -%}
      {% set mdata = get_image_metadata(path=path) -%}
      {% set w = (mdata.width * scale) | int -%}
      {% set h = (mdata.height * scale) | int -%}
      {% set image = resize_image(path=path, width=w, height=h, op="scale") -%}
    {% elif op == "fit_height" -%}
      {% set image = resize_image(path=path, height=height, op="fit_height") -%}
    {% elif op == "fit_width" -%}
      {% set image = resize_image(path=path, width=width, op="fit_width") -%}
    {% else -%}
      {% set image = resize_image(path=path, width=width, height=height, op=op) -%}
    {% endif -%}

    <img src="{{ image.url }}" alt="{{ title }}" title="{{ title }}">
  {% endfor -%}
</div>
