---
import BaseLayout from "../layouts/base_layout.astro";

const pageTitle = "benmo.dev";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="flex justify-center p-3">
		<img class="w-96 flex-initial" src="/assets/duck.jpg"/>
	</div>
</BaseLayout>