---
import Navigation from "./navigation.astro";
---

<header class="flex-auto basis-full text-center py-5">
    <h1 class="font-header font-bold text-4xl py-5">Ben Mo</h1>

    <Navigation/>
</header>