---
import NavLink from "./nav_link.astro";
---

<nav>
    <NavLink url="/" title="Home"/>
    <NavLink url="/about/" title="About"/>
    <NavLink url="/projects/" title="Projects"/>
    <NavLink url="/contact/" title="Contact"/>
</nav>