---
import ProjectLink from "./project_link.astro";

const { projects } = Astro.props;
projects.sort((a, b) => Date.parse(b.frontmatter.date_updated) - Date.parse(a.frontmatter.date_updated));
---
<table class="table-full">
    <thead>
        <tr>
            <th class="table-left">Projects</th>
            <th></th>
            <th class="table-right"></th>
        </tr>
    </thead>
    <tbody>
        {projects.map((project) => <ProjectLink url={project.url} title={project.frontmatter.title} date={project.frontmatter.date_updated}/>)}
    </tbody>
</table>