---
import { color_theme } from "../data/color_theme";

const {platform, username} = Astro.props;
---
<a class={color_theme.hyper_links} href={`https://www.${platform}.com/${username}`}>{platform}</a>