{% extends "components/base.html" %}

{% block content %}
    <h2>About</h2>

    <p>Welcome! My name is Ben and this is my website where I post the hobby projects I'm working on and any cool recipes I've stumbled upon and want to document.</p>

    <p>Originally from New England, I currently live in the Bay Area.</p>

    <p>I enjoy eating and cooking (in that order), building things, exercising, reading (more like accumulating books I'd like to read), and playing Super Smash Brothers Melee for the Nintendo Gamecube.</p>
{% endblock content %}