{% extends "components/base.html" %}

{% block title %}About{% endblock title %}

{% block header %}
    <h1>About</h1>
{% endblock header %}

{% block content %}
    <p>My name is Ben, this is my website</p>

    <p>Started in Massachusetts until I graduated High School</p>

    <p>Went to school at Rensselaer Polytechnic Institute (RPI) in Troy, NY</p>

    <p>Drove across the country to San Diego, CA for my first engineering job after college. I was there for about 1.5 years</p>

    <p>Changed jobs and moved to the Bay Area, where I live now.</p>
{% endblock content %}