{% extends "components/base.html" %}

{% block title %}Projects{% endblock title %}

{% block header %}
    <h1>Projects</h1>
{% endblock header %}

{% block content %}
    <p>These are some things I'm currently working on:</p>

    <ul>
        <!-- {% for project in projects %}
            <li><a href="{{ project.path }}">{{ project.name }}</a></li>
        {% endfor %} -->
        <li><a href="projects/website.html">This website</a></li>
        <li><a href="projects/robot.html">Robot</a></li>
    </ul>
{% endblock content %}