{% extends "components/base.html" %}

{% block title %}Butternut Squash Soup Recipe{% endblock title %}

{% block header %}
    <h1>How to make butternut squash soup</h1>
{% endblock header %}

{% block content %}
    <h2>Ingredients</h2>

    <h3>The main ingredient</h3>
    <ul>
        <li>Butternut Squash</li>
    </ul>

    <h4>Deuteragonists</h4>
    <ul>
        <li>Carrots</li>
        <li>Acorn squash</li>
    </ul>
    
    <h4>Supporting characters</h4>
    <ul>
        <li>Onion</li>
        <li>Garlic</li>
        <li>Leek</li>
    </ul>

    <h4>Extras</h4>
    <ul>
        <li>Chicken stock</li>
        <li>Cinnamon</li>
        <li>Allspice</li>
        <li>Salt</li>
        <li>Pepper</li>
    </ul>

    <h4>Garnishes</h4>
    <ul>
        <li>Nuts</li>
        <li>More leek</li>
    </ul>

    <h2>Instructions</h2>

    <ol>
        <li>Preheat the oven to 375 deg F</li>
        <li>Cut the butternut squash, carrots, and acorn squash into cubes and season with the spices</li>
        <li>Roast the vegetables for some time</li>
        <li>Sweat the Garlic, Onions, and the root end of the leek in a pot</li>
        <li>Add the roasted vegetables to the pot, then cover with stock</li>
        <li>Simmer until the butternut squash is mushy</li>
        <li>Blend everything until smooth</li>
        <li>Stir fry the rest of the leek</li>
        <li>Toast the nuts</li>
        <li>Top the soup with the leeks and nuts</li>
    </ol>
{% endblock content %}