{% extends "components/base.html" %}

{% block title %}Granola Recipe{% endblock title %}

{% block header %}
    <h1>How to make granola</h1>
{% endblock header %}

{% block content %}
    <h2>Ingredients</h2>

    <ul>
        <li>3 cups of oats</li>
        <li>1/2 cup coconut oil</li>
        <li>1/4 cup maple syrup</li>
        <li>1/4 cup honey</li>
        <li>1 cup diced nuts</li>
        <li>1/2 tsp cinnamon</li>
        <li>1/2 tsp salt</li>
    </ul>

    <h2>Instructions</h2>

    <ol>
        <li>Preheat the oven to 250 deg F</li>
        <li>Mix all of the ingredients in a big bowl. Use whatever nuts you want.</li>
        <li>Spread the mixture onto a baking tray.</li>
        <li>Bake for 100 minutes (1 hour, 40 minutes), occationally mixing the granola</li>
    </ol>
{% endblock content %}