{% extends "components/base.html" %}

{% block title %}A Tasty Shrimp Recipe{% endblock title %}

{% block header %}
    <h1>A Tasty Shrimp Recipe</h1>
{% endblock header %}

{% block content %}
    <h2>Ingredients</h2>

    <h3>Main Ingredients</h3>
    <ul>
        <li>Frozen shrimp</li>
        <li>Spinach</li>
        <li>Pecans</li>
    </ul>

    <h3>For the sauce</h3>
    <ul>
        <li>Soy sauce</li>
        <li>Maple Syrup</li>
        <li>Mayonaise</li>
        <li>Cooking wine</li>
    </ul>

    <h3>Spices</h3>
    <ul>
        <li>Salt</li>
        <li>Pepper</li>
        <li>Ginger</li>
        <li>Garlic</li>
    </ul>

    <h2>Instructions</h2>

    <ol>
        <li>Boil the frozen shrimp</li>
        <li>Mix the soy sauce, maple syrup, mayonaise, cooking wine, and spices to make a sauce</li>
        <li>When the shrimp are nearly cooked through, strain them and mix them with the sauce</li>
        <li>Start stir frying the spinach</li>
        <li>Add the pecans and shrimp to the spinach and cook until done.</li>
    </ol>
{% endblock content %}